{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text" step="any" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    <!-- dosh gives a list of dictionaries. to get at just the number (cash) in this case, go to first row [0] n use the square bracket notation to get at the value of casha  -->
    <p>{{ usd(dosh[0]["cash"]) }}</p>

{% endblock %}